:root {
    --main-body-bg-color:white;
    --main-body-txt-color:navy;
    --main-hdg-bg-color: navy;
    --main-hdg-txt-color: white;
    --main-panel-bg-color: lightgray;  
    --main-panel-txt-color: navy;  
    --main-panel-border:1px solid navy;

    --main-padding: 10px; 
    --main-bg-fade:rgba(0,0,0,0.2);
     
  }  
.parent {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /* grid-template-rows:50px 1fr 1fr; */
    grid-template-rows: repeat(3, minmax(50px, auto));
    grid-template-areas: "hdgArea           hdgArea             hdgArea"
                         "localInfo         altInfo             emergInfo"
                         "memberStatus      certInfo            monitorDuty"
                         ;
    gap:0px;
    background-color:var(--main-body-bg-color);
    padding-left:5px;
    padding-right:5px;
    margin:0px; 
}
.hdg {
    grid-area: hdgArea; 
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: " searchArea hdgTitle  menuArea";
    height:50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items:center;
    justify-content:center; 
    text-align: center;
    background-color: var(--main-hdg-bg-color); 
    color:var(--main-hdg-txt-color);
    border-bottom:1px solid red;
}

.hdgTitle {
    grid-area:hdgTitle;
    text-align:center; 
    background-color: white;
    color:navy; 
    height:40px;
}
.hdgSearch {
    grid-area:searchArea;
    padding-top:5px;
    padding-bottom: 5px;
    align-items: left;
}
.memberMenu {
    grid-area:menuArea;
    color:blue;
}
.panel {
    display:inline;
}

.panel h5 {
    text-align: center;
    color:var(--main-panel-txt-color);
}

input {
    color:blue;
}
#certDate {
    color:blue;
}
/* LOCAL CONTACT PANEL */
.localContactInfo {
    grid-area:localInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.localContactInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.localContactInfo .row {
    height:30px;
}
.localContactInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
} 
.localContactInfo label {
    text-align:right;
}

/* ALTERNATE ADDRESS PANEL */
.alternateContactInfo {
    grid-area:altInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.alternateContactInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.alternateContactInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
} 

.alternateContactInfo .row {
    height:30px;
}
.alternateContactInfo label{
    text-align:right;
}

.alternateContactInfo input {
    border: 1px solid black;
    font-size:16px;
}

/* EMERGENCY INFO PANEL */
.emergencyInfo {
    grid-area:emergInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.memberImgID {
    margin-top:20px;
    margin-left:20px;
}

.emergencyInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.emergencyInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}
.emergencyInfo .row {
    height:30px;
}
.emergencyInfo label{
    text-align:right;
}

.emergencyInfo hr {
    border: 2px solid black;
    margin-left:0px;
    width:300px;
}
.medConditions {
    display:grid;
    grid-template-columns: .25fr auto;
    grid-template-areas: "medCol1area medCol2area";
}
.medCol1 {
    grid-area:medCol1area;
    margin-left:20px;
}
.medCol2 {
    grid-area:medCol2area;
    margin-left:20px;
    margin-right:0px;
    padding:0;
}

/* MEMBERSHIP STATUS PANEL */
.membershipInfo {
    grid-area:memberStatus;
    background-color:var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.membershipInfo, form {
    padding-left:10px;
}
.membershipInfo .row {
    height:30px;
}
.membershipInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}
/* .membershipInfo label{
    text-align:right;
} */
.memberStatus {
    display:grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "memberStatusCol1area memberStatusCol2area";
}
.memberStatusCol1 {
    grid-area: memberStatusCol1area;
    margin-left:0px;
}
.memberStatusCol2 {
    grid-area: memberStatusCol2area;
    margin-left:0px;
    margin-right:0px;
    padding:0;
}


/* CERTIFICATION INFO PANEL */
.certificationInfo {
    grid-area:certInfo;
    background-color:var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}

.certificationInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}

.certTopPanel {
    padding-right:20px;
}

.shopNames {
    grid-area:shopNameArea;
}
.certLabels {
    grid-area:labelArea
}
.certifiedRA {
    grid-area:RAcertArea;
}
.certifiedBW {
    grid-area:BWcertArea;
}
.willSub {
    grid-area:willSubArea
}
.lastMntrTrng {
    grid-area:mntrTrngArea;
} 
.trngNeededMsg {
    grid-area:neededMsgArea;
}
.certBottomPanel {
    background-color: lightgrey;
}
.certificationInfo label{
    text-align:right;
} 
#RAcertifiedID {
    margin-right:0px;
}
#BWcertifiedID {
    margin-right:0px;
}

#RAtrainingNeeded {
    color:red;
    justify-items: center;
    margin-left:35px;
}
#BWtrainingNeeded {
    color: red;
    margin-left:35px;
}

/* MONITOR DUTY PANEL */

/* .monthInputs li {
    display:inline;
    text-decoration: none;
    color:var(--main-txt-color);
    margin-right:20px;
} */
.monitorDutyInfo {
    grid-area:monitorDuty;
    background-color:var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}

.monthNames li {
    display:inline;
    text-decoration: none;
    font-size:13px;
    margin-right:8px;
    color:var(--main-txt-color);
}

.monthCheckboxes li {
    display:inline;
    text-decoration: none;
    font-size:13px;
    margin-right:18px;
    color:var(--main-txt-color);
}
table {
    padding-left:20px;
    padding-right:20px;
}
table th {
    color:var(--main-txt-color);
}
.monitorDuty {
    border:1px solid black;
    text-align: center;
}
.monitorDuty td {
    border:1px solid black;
}
.futureDuty td {
    color:green;
}
.pastDuty td {
    color:red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }



/* DROPDOWN MENU CSS FOLLOWS */
  .dropbtn {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightslategrey;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:disabled {
      color:blue !important;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

 
#noteModalID { 
    height:800px;
}
  .modal-footer {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "footer-left . footer-right";
      background-color:lightgrey;
      height:70px;
  }
  .footer-left-col {
      grid-area: footer-left;
      text-align:left;
  }
  .footer-right-col {
      grid-area: footer-right;
      text-align:right ;
  }

  /* .row {
      height:35px;
  } */
  /* body {
      line-height: .50 !important;
  } */
  #memberImgID {
      border:1px solid black;
  }
  #imagemodal {
      border: 1px solid red;
  }
  .showPhoto {
      text-align: center;
  }
  .datepick {
    width:150px;
    height:35px;
  }

  .cancelSave {
    float:right;
    margin-top:20px;
    margin-right:20px;
  }
  input:read-only {
      background-color: yellow;
  }
  input:disabled {
      color:green;
      background-color: yellow;
  }