.container {
    width:40%;
    background-color:white;
    margin-top:120px;
}
.roleHeader {
    text-align: center;
    background-color: navy;
    color:white;
    height:50px;
    padding-top: .75rem;
}
.roleBody {
    background-color:lightgray;
    padding-left: 100px
}
.roleFooter {
    background-color:gray;
    text-align:right;
}
form {
    padding-top:0px;
    padding-left:0px;
}