/* html {
    font-size:16px or font-size:62.5% or don't specify and let browser set base font  */

*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family:'Lato', sans-serif;
    color: #2e354f;
}

input {
    font-size: 1rem;
    color:green;
    border:1px solid navy;
}

label {
    font-size: .75rem;
    color:black;
}



/* Typography */

form {
    border:2px solid navy;
}
ul {
    /*  1.5em = 150% */
    font-size: .5rem;
}

h1,
h2,
strong {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    margin-bottom: .5em;   /* = half of the font-size */
}

h2 {
    font-size: 2rem;
}

a {
    color:blue;
}
hr {
    border:1px solid black;
}

/* Layout for iPhone (small devices) */
.parent {
    display:grid;
    max-width: 600px;
    width:100%;
    grid-template-rows: 110px auto 100px;
    grid-template-columns: 1fr;
    grid-template-areas:"hdgBandArea"
                        "applicantArea"
                        "statusArea"
                        "footerArea"; 
    border: 2px solid navy;
    margin: 0 auto;
    background-color: lightgray;
    
} 

.hdgBand {
    grid-area:hdgBandArea;
    width:75%;
    background-color:navy;
    color:white;
    border:1px solid white;
    padding:0px;
    margin:0px;
}
.hdgRow {
    margin-top:10px;
}
.title {
    margin-left:20px;
}
.version {
    margin-right:40px;
}
.selectApplicant {
    margin:0 auto;
}
.hdgLinks {
    margin:0 auto;
}
.applicant {
    width:100%;
    grid-area:applicantArea;
    padding-left:20px;
    min-width:630px;
}
.monthsInTheVillages {
    justify-content: center;
    width:55%;
}
.monthNames {
    padding-left:0px;
}
.monthCheckboxes {
    padding-left:100px;
}
.footerBtns {
    width:100%;
    grid-area:footerArea;
}
.applicationStatus {
    grid-area:statusArea;
    margin-left:0px;
    margin-top:5px;
} 
.placeOnWaitList {
    width:60%;
    text-align: center;
}
.statusLabel {
    margin-left:35px;
}
/* DROPDOWN MENU CSS FOLLOWS */
.dropbtn {
    background-color: gray;
    color: white;
    padding: 0px;
    font-size: 14px;
    border: none;
    height:30px;
    margin-top:0px;
    cursor: pointer;
    float: right;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: lightslategrey;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown:disabled {
      color:blue ;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {background-color: #ddd;}

.dropdown-item {
    color:green;
}
.cancelSave {
    text-align:center;
    margin-bottom: 20px;
}
.monthsInTheVillages {
    margin-left:20px;
    width:60%;
    border:1px solid black;
    line-height:1 !important;
  }
.monthsInTheVillages h3 {
      font-size:0.5rem;
      text-align: center;
  }
.monthNames {
      margin-left:0px;
      text-align: center;
      margin-top:0px;
      margin-bottom:0px;
  }


.monthNames li {
    display:inline;
    text-decoration: none;
    font-size:.5rem;
    margin-right:1em;
}
.monthCheckboxes {
    padding-left:0px;
    margin-left:5px;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
}
.monthCheckboxes li {
    display:inline;
    text-decoration: none;
    font-size:.5rem;
    margin-right:1em;
}

.show {display: block;}

.placeOnWaitList {
    font-size:2rem;
    color:navy;
    text-align:center;
}
.waitListStatus {
    font: size 1.5rem;
    text-align:center;
}

/* SPECIFICATIONS FOR iPad SCREENS */
@media (min-width: 768px) {
.parent {
    display:grid;
    width:100%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:    "hdgBandArea    hdgBandArea"
                            "applicantArea  statusArea"
                            "footerArea     footerArea";
                           
    max-width:920px;
    font-size:1rem;
    background-color:yellow;
}

.hdgBand {
    grid-area:hdgBandArea;
    width:100%;
    background-color:blue;
    color:white;
    border:1px solid white;
    padding:0px;
    margin:0px;
}
.applicant {
    grid-area:applicantArea;
    margin-top:20px;
    background-color:violet;
}
.applicationStatus {
    grid-area:statusArea;
    margin-top:20px;
    background-color:lightcoral
}
.monthsInTheVillages {
    margin-left:0px;
    width:80%;
    border:1px solid black;
  }
.footerBtns {
    width:100%;
    grid-area:footerArea;
    background-color:lightblue;
}

body {font-size:1rem}

input {
    font-size:1rem;
}
label {
    font-size:1rem;
}   
}
   
    

@media (min-width: 992px) {
    .parent {
        display:grid;
        width:100%;
        grid-template-rows: 50px auto 50px;
        grid-template-columns:  1fr 1fr;
        grid-template-areas:    "hdgBandArea    hdgBandArea"
                                "applicantArea  statusArea"
                                "footerArea     footerArea";
        max-width:1200px;
        font-size:1rem;
        background-color:lightgray;
    }
    .hdgBand {
        grid-area:hdgBandArea;
        width:100%;
        background-color:navy;
        color:white;
        border:1px solid white;
        padding:0px;
        margin:0px;
    }
    .version {
        font-size: small;
        margin-right:20px;
    }
    .applicant {
        grid-area:applicantArea;
        margin-top:20px;
        background-color:lightgray;
        border:1px solid black;
    }
    .applicationStatus {
        width:100%;
        grid-area:statusArea;
        margin-top:20px;
        justify-content: space-evenly;
        background-color:lightgrey;
        border:1px solid black;
    }
    /* .statusLabel {

    } */
        
    .footerBtns {
        width:100%;
        grid-area:footerArea;
        background-color:gray;
    }
    body {font-size:1rem}
  

    .monthsInTheVillages h3 {
      font-size:1rem;
    }
    .monthNames {
      text-align:center;
    }

    .monthNames li {
      font-size:.75rem;
    }
  
    .monthCheckboxes {
      text-align: center;
      margin-left:9px;
    }

    .monthCheckboxes li {
      font-size:.75rem;
      margin-right:1.15rem;
    }
}
/* .container {
      font-size:1rem;
  } */


