{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarCustom.css') }}">  
{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/navbar.js') }}">  </script>
{% endblock %}

{% block title %}
{% if title %}{{ title }} - CERTIFICATION{% else %}CERTIFICATION{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-custom py-0 navbar-expand-sm navbar-dark ">
    <!-- Links -->
    <a class="navbar-brand " href="#"><h2>CERTIFICATION - {{ current_user.username }}</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">HOME</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('memberlookup') }}">MEMBER LOOKUP</a>
            </li> 

        </ul>
        <ul class="navbar-nav ml-auto">   
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                NOT LOGGED IN
                <a class="nav-link" href="{{ url_for('login') }}">LOGIN</a>
            </li>
            {% else %}
            <li class="nav-item">
                {{ current_user.username }}
                <a class="nav-link" href="{{ url_for('logout') }}">LOGOUT</a>
            </li>
            {%  endif %} 
        </ul>       
    </div>        
</nav>
{% endblock %}

{% block content %}
<div class="container p-0 m-0">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

        {% if category == "" %}            
        <div class="alert alert-success alert-dismissible col-lg-12" role="alert">
            <span> {{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        
        {% if category == None %}            
        <div class="alert alert-success alert-dismissible col-lg-12" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% if category == "success" %}            
            <div class="alert alert-success alert-dismissible col-lg-12" role="alert" style="background-color:green;color:white">
                <span> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if category == "warning" %}            
            <div class="alert alert-warning alert-dismissible col-lg-12" role="alert" style="background-color:red;color:white">
                <span>  {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if category == "danger" %}            
            <div class="alert alert-danger alert-dismissible col-lg-12" role="alert"style="background-color:red;color:white">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if category == "info" %}            
            <div class="alert alert-info alert-dismissible col-lg-12" role="alert"style="background-color:lightblue;color:white">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

    {% endfor %}
    {% endif %}
{% endwith %}
</div>

{# application content needs to be provided in the app_content block #}
{% block app_content %}{% endblock %}

{% endblock %}
