{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% include 'hamburger.html' %}
{% block content %}
    <div class="parent">
        <div class="hdg">
            <div class="hdgTitle">
                <h2>MEMBER LOOKUP</h2> 
            </div> 

            <div class="hdgSearch">
                <div id="memberList">
                    <select id="selectpicker" class='selectpicker' title='Find a  member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                        {% for nme in nameArray %}
                            <option  class="optName" value='{{nme}}'>{{nme}}</option>
                        {% endfor %}
                    </select>
                    <a id="linkToMember" style="display:none" href=""></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
