{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}">
{% endblock %}


{% block content %}
<div class="parent">
    <!-- <a id="refreshPageBtn" style="display:none" href=""></a> -->
    <!-- MEMBER NAME -->
    <div class="hdg">
        <div id='hdgTitleID' class="hdgTitle">
            <h2>{{ hdgName }}</h2>
            <!-- <h2 style=float:right>Village ID - </h2>{{member.Member_ID}} -->
        </div>
            
        <div class="hdgSearch">
            <div id="memberList">
                <select id="selectpicker" class='selectpicker' title='Find a  member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                    {% for nme in nameArray %}
                        <option  class="optName" value='{{nme}}'>{{ nme }}</option>
                    {% endfor %}
                </select>
                <a id="linkToMember" style="display:none" href=""></a>
            </div>
        </div>
        <div class="memberMenu">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">MEMBER MENU</button>
                <div id="myDropdown" class="dropdown-content"style=text-align:left>
                    <a onclick='clearScreen()'>Clear Screen</a>
                    <a onclick='noteRoutine()'>Note to Member</a>
                    <a class='dropdown-item' href="{{ url_for('newMemberApplication')}}">New Member Application</a>
                    <a class='dropdown-item disabled'href="#dues">Pay Dues</a>
                    <a class='dropdown-item disabled'href="#classes">Class Signup</a>
                    <a class='dropdown-item disabled'href="#roles">Roles</a>
                    <a class='dropdown-item disabled'href="#monitorDuty">Schedule Monitor Duty</a>
                    <a class='dropdown-item disabled'href="#waitList">Wait List</a>
                </div>
                <button id='showPhotoBtn' onclick='showHidePhoto(this)' style=margin-left:50px>SHOW PHOTO</button>
            </div>
            
        </div> 
        
    </div>
    
    <!-- PRIMARY CONTACT INFORMATION -->
    <div id="localContactID" class="localContactInfo panel">
        <h5>LOCAL INFORMATION</h5>
        <form method='POST' action="/saveAddress">
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="memberID">ID</label>
                <div class="col-md-9">
                    <input id='memberID' type="text" class="form-control-md" style="width:75px" name="memberID" readonly value="{{member.Member_ID}}">
                    <label class="control-label col-form-label-md" style="color:red;font-size:18px" >{{ expireMsg }}</label>
                </div>
            </div>
            
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="street">Street</label>
                <div class="col-md-9">
                    <input type="text" class="form-control-md" style="width:250px" name="street" value="{{member.Address}}">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="cityStateZip">City/St/Zip</label>   
                <div class="col-md-4">
                    <input type="text" class="form-control-md" name="city" value='{{member.City}}'>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control-md" style=width:30px id="state" name="state" value='{{member.State}}'>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control-md" style=width:100px id="zip" name="zip" value='{{member.Zip}}'>
                    <!-- <select class="form-control-md" name="zip" id="zip" >
                        <option value='32159'{{ "selected='selected'" if member.zip == '32159' else "" }}>32159</option>
                        <option value='32160'{{ "selected='selected'" if member.zip == '32160' else "" }}>32160</option>
                        <option value='32161'{{ "selected='selected'" if member.zip == '32161' else "" }}>32161</option>
                        <option value='32162'{{ "selected='selected'" if member.zip == '32162' else "" }}>32162</option>
                        <option value='32163'{{ "selected='selected'" if member.zip == '32163' else "" }}>32163</option>
                    </select> -->
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="village">Village</label>
                <div class="col-md-4">
                    <input type="text" class="form-control-md" name="village"value="{{ member.Village }}">
                </div>
            </div>
        
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="homePhone">Home</label>
                <div class="col-md-2">
                    <input type="text" class="form-control-md" style=width:130px id="homePhone" name="homePhone"value="{{ member.Home_Phone }}">
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="cellPhone">Cell</label>
                <div class="col-md-2">
                    <input type="text" class="form-control-md" style=width:130px id="cellPhone" name="cellPhone"value="{{ member.Cell_Phone }}">
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="eMail">E-Mail</label>
                <div class="col-md-9">
                    <input type="text" class="form-control-md" style=width:250px id="eMailID" name="eMail"value="{{ member.eMail }}">
                </div>
            </div>
            
            <div class="row">
                <div class='col-3' style=margin-top:15px;margin-left:100px>
                    <input id='villagesWaiverID' type="checkbox" class="form-check-input" name="villagesWaiverSigned"   {% if member.Villages_Waiver_Signed %} checked {% endif %}value="True">
                    <label for='villagesWaiverID' class="form-check-label" >Villages Waiver</label>    
                </div>
                <div class="form-control-md" style=margin-top:10px>
                    <input id="villagesWaiverDateSigned" class="form-control form-control-md datepick" type="date" name="villagesWaiverDateSigned" value={{member.Villages_Waiver_Date_Signed}}>
                </div>
                
            </div>

            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID'>
                <!-- <input id='localSaveMemberID' type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}> -->
                <button id="localCancelBtn" type="submit" name="localAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="localSaveBtn" type="submit" name="localAction" class="btn-primary saveBtn" style=display:none value="SAVE">SAVE</button>
                <br>
            </div>
        </form>     
       
    </div>

   

    <!-- ALTERNATE CONTACT INFORMATION -->
    <div id='altContactID' class="alternateContactInfo panel">
        <h5>ALTERNATE ADDRESS</h5>
        <form method='POST'  action="/saveAltAddress" style="padding-left:50px">
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="altStreet">Street</label>
                <div class="col-md-9">
                    <input type="text" class="form-control-md" style="width:250px" id="altStreet" name="altStreet" value="{{member.Alt_Adddress}}">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md">City/State</label>   
                <div class="col-md-5">
                    <input type="text" class="form-control-md" style="width:200px"id="altCity" name="altCity" value='{{member.Alt_City}}'>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control-md" style=width:30px;margin-left:20px name="altState" value='{{member.Alt_State}}'>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Zip</label>   
                <div class="col-md-2">
                    <input type="text" class="form-control-md" style=width:150px name="altZip" value='{{member.Alt_Zip}}'>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Country</label>
                <div class="col-md-4">
                    <input type="text" class="form-control-md" name="altCountry" value="{{ member.Alt_Country }}">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Phone</label>
                <div class="col-md-3">
                    <input type="text" class="form-control-md" style=width:130px  name="altPhone"value="{{ member.Alt_Phone }}">
                </div>
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="altCancelBtn" type="text" name="altAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="altSaveBtn" type="submit" name="altAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>       
            </div>
        </form>
    </div>

    <!-- EMERGENCY INFORMATION -->
    <div id="emergencyID" class="emergencyInfo panel" style="padding-left:0px">
        <img id="memberImgID" src="" alt="NO PHOTO AVAILABLE" width="300" height="200" style=display:none;margin-top:20px;margin-left:200px >
        <h5>EMERGENCY INFORMATION</h5>
        <form method='POST' action="/saveEmergency">
            <div class="row">
                <label class="col-2 col-form-label"style=margin-top:0px>Contact</label>
                <input type="text" class="form-control col-4" style=height:30px name="emergContact" value="{{member.Emerg_Name}}">
               
            </div>
 
            <div class="row">
                <label class="control-label col-md-2 col-form-label-md">Phone</label>
                <input type="text" class="form-control form-control-md col-md-4" style="height:30px" name="emergPhone" value="{{member.Emerg_Phone}}">
            </div>
            <br>
            
            <div class='medConditions'>
                <div class= 'medCol1'>
                    <input id=emergMemberID type="hidden" name='emergMemberID'>
                    <div class='form-group-sm'>
                        <input id='noEmergDataID' type="checkbox" class="form-check-input" name="emergNoData"   {% if member.Emerg_No_Data_Provided %} checked {% endif %}value="{{member.Emerg_No_Data_Provided}}">
                        <label for="noEmergDataID" class="col-sm-2 form-check-label"> No&nbspData</label>    
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergPacemakerID' type='checkbox' class='form-check-input' name='pacemaker' {% if member.Emerg_Pacemaker %} checked {% endif %}  value="{{member.Emerg_Pacemaker}}">
                        <label for="emergPacemakerID" class="col-sm-2 form-check-label">Pacemaker</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergStentID' type="checkbox" class='form-check-input' name='stent'  {% if member.Emerg_Stent %} checked {% endif %}  value="{{member.Emerg_Stent}}">
                        <label for="emergStentID" class="col-sm-2 form-check-label">Stent</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergCABGID' type="checkbox" class='form-check-input' name='CABG'  {% if member.Emerg_CABG %} checked {% endif %}  value="{{member.Emerg_CABG}}">
                        <label for="emergCABGID" class="col-sm-2 form-check-label">CABG</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergMIID' type="checkbox" class='form-check-input' name='MI'  {% if member.Emerg_MI %} checked {% endif %}  value="{{member.Emerg_MI}}">
                        <label for="emergMIID" class="col-sm-2 form-check-label">MI</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergDiabetes1ID' type="checkbox" class='form-check-input' name='diabetes1'  {% if member.Emerg_Diabetes_Type_1 %} checked {% endif %}  value="{{member.Emerg_Diabetes_Type_1}}">
                        <label for="emergDiabetes1ID" class="col-sm-2 form-check-label">Diabetes&nbsp1</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergDiabetes2ID' type="checkbox" class='form-check-input' name='diabetes2'  {% if member.Emerg_Diabetes_Type_2 %} checked {% endif %}  value="{{member.Emerg_Diabetes_Type_2}}">
                        <label for="emergDiabetes2ID" class="col-sm-2 form-check-label">Diabetes&nbsp2</label>
                    </div>   
                </div>
                <div class='medCol2'>
                    <div class='form-group-sm'>
                        <label for="emergOtherDiagnosisID" class="col-sm-3 form-label">Other</label>
                        <textarea id="emergOtherDiagnosisID" style=font-size:12px rows="2" cols="25" name='otherDiagnosis' >{{member.Emerg_Other_Diagnosis}}</textarea>
                    </div>
                    <div class='form-group-sm'>
                        <label for="emergDiabetesOtherID" class="col-sm-3 form-label-sm">Diabetes</label>
                        <textarea id="emergDiabetesOtherID" style=font-size:12px rows="2" cols="25" name='diabetesOther' >{{member.Emerg_Diabetes_Other}}</textarea>
                    </div>
                    <div class='form-group-sm'>
                        <label for="emergAlergiesID" class="col-sm-3 form-label">Alergies</label>
                        <textarea id="emergAlergiesID" style=font-size:12px rows="2" cols="25" name='alergies'>{{member.Emerg_Medical_Alergies}}</textarea>
                    </div>
                </div>   
            </div> 
            <br>
            <div class='form-group-sm' style=margin-left:20px>
                <input id='defibrillatorID' type="checkbox" class="form-check-input" name="emergDefib"   {% if member.Defibrillator_Trained%} checked {% endif %}value="{{member.Defibrillator_Trained}}">
                <label for='defibrillatorID' class="form-check-label"> Defibrillator Trained</label>    
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="emergCancelBtn" type="submit" name="emergAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="emergSaveBtn" type="submit" name="emergAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>  
            </div>
        </form>      
    </div>
    

    <!-- MEMBERSHIP STATUS -->
    <div id="membershipID" class="membershipInfo panel">
        <h5>MEMBERSHIP STATUS</h5> 
        <form method='POST'  action="/saveMemberStatus" style="padding-left:0px">
        <div class='memberStatus'>
            <div class= 'memberStatusCol1' style=margin-left:20px>
                <div class="row ">
                    <div class='form-check'>
                        <input id="duesPaidID" type="checkbox" class="form-check-input" name="duesPaid" {% if member.Dues_Paid %} checked {% endif %} value={{member.Dues_Paid}}>
                        <label class="form-check-label">Dues Paid</label>
                    </div>
                </div>
                
                <div class="row form-check">
                    <input id="volunteerID" type="checkbox" class="form-check-input" name="volunteer" {% if member.NonMember_Volunteer %} checked {% endif %} value="{{member.NonMember_Volunteer}}">
                    <label for='volunteerID' class="form-check-label">Volunteer</label>
                </div>
                
                <div class="row form-check">
                    <input id="inactiveID" type="checkbox" class="form-check-input" style=margin-top:0px name="inactive" {% if member.Inactive %} checked {% endif %}value="{{member.Inactive}}">
                    <label for='inactiveID' class="form-check-label" style=margin-top:0px>Inactive</label>
                </div>
            
                <div class="row form-check">
                    <input id="deceasedID" type="checkbox" class="form-check-input" style=margin-top:0px name="deceased" {% if member.Deceased %} checked {% endif %}value="{{member.Deceased}}">
                    <label class="form-check-label"style=margin-top:0px>Deceased</label>
                </div>
                <div class='row'></div>
                <div class="row form-check">
                    <input id="restrictedID" type="checkbox" class="form-check-input" style=margin-top:0px name="restricted" {% if member.Restricted_From_Shop %} checked {% endif %}value="{{member.Restricted_From_Shop}}">
                    <label for='restrictedID' class="form-check-label" style=margin-top:0px>Restricted</label>
                </div>
    
            </div>
            <div class="memberStatusCol2">
                <div class="row form-group">
                    <label for='dateJoinedID' class="col-5 col-form-label" style=width:200px;margin-top:-5px>Date Joined</label>
                    <input id='dateJoinedID' type="date" class="form-control-sm col-5 input "  name="dateJoined" value="{{member.Date_Joined}}"> 
                </div>
                
                <div class='row form-group' style=margin-top:32px>
                    <label for="inactiveDateID" class="col-md-5 col-form-label-md" >Date Inactive</label>
                    <input id="inactiveDateID" type="date" class="form-control-sm input-sm col-md-5" name="inactiveDate" placeholder="inactive" value="{{member.Inactive_Date}}">
                </div>
                <div class='row'></div>
                
                <div class='row'>
                    <textarea name="reasonRestricted" class="col-md-10" style=margin-left:10px;margin-top:20px id="reasonRestricted" cols="30" rows="2">{{member.Reason_For_Restricted_From_Shop}}</textarea>
                </div>
            </div>
           
        </div>

        <div class="cancelSave" style=padding-left:100px;padding-top:20px>
            <input type="hidden" class='staffID' name='staffID'>
            <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
            <button id="memberCancelBtn" type="submit" name="memberAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
            <button id="memberSaveBtn" type="submit" name="memberAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>   
        </div>
        </form>
        
    </div>


    <!-- CERTIFICATION INFORMATION -->
    <div id="certificationID" class="certificationInfo panel">
        <h5>CERTIFICATION</h5>
        <form method='POST' action="/saveCertification" style="padding-left:10px">
            <div class='certTopPanel'>
                <div class='row'>
                    <div class='col-4'></div>
                    <div class='col-4 RAcolumn' style=text-align:center>ROLLING ACRES</div>
                    <div class='col-4 BWcolumn' style=text-align:center>BROWNWOOD</div>        
                </div>

                <div class='row'>
                    <div class='col-4'></div>
                    <div class='col-md-4 RAcolumn'>
                        <input id='RAcertifiedID' type="checkbox" class="form-control form-control-md" style="margin-left:0px;" name="certifiedRA" {% if member.Certified %} checked {% endif %} value="{{member.Certified}}">
                    </div>
                    <div class='col-md-4 BWcolumn'>
                        <input id='BWcertifiedID' type="checkbox" class="form-control form-control-md" style="margin-left:0px" name="certifiedBW" {% if member.Certified_2 %} checked {% endif %} value="{{member.Certified_2}}">
                    </div> 
                </div>  


                <div class='row'>
                    <div class='col-4'>Certified:</div>
                    <div class='col-4 RAcolumn'>
                        <input type="date" class="form-control form-control-sm datepick"  style="margin-left:20px" name="certifiedRAdate" value="{{member.Certification_Training_Date}}">
                    </div>
                    <div class='col-4 BWcolumn'>
                        <input type="date" class="form-control form-control-sm datepick" readonly style="margin-left:20px" name="certifiedBWdate" value="{{member.Certification_Training_Date_2}}">
                    </div>
                </div>

                <div class='row'>
                    <div class='col-4'>Will Sub:</div>
                    <div class='col-md-4 RAcolumn'>
                        <input id='RAwillSub' type="checkbox" class="form-control form-control-md" style=margin-left:0px name="willSubRA" {% if member.Monitor_Sub %} checked {% endif %} readonly value="{{member.Monitor_Sub}}">   
                    </div>
                    <div class='col-md-4 BWcolumn'>                
                        <input id='BWwillSub' type="checkbox" class="form-control form-control-md" style=margin-left:0px name="willSubBW" {% if member.Monitor_Sub_2 %} checked {% endif %} readonly value="{{member.Monitor_Sub_2}}">                
                    </div>
                </div>
                
                <div class='row'>
                    <div class='col-4'>Last Monitor Training</div>
                    <div class='col-4 RAcolumn'>
                        <input id='raLastMonitorTraining' type="date" class='form-control form-control-md datepick' style="margin-left:20px" name='RAmonitorTrainingDate' value={{member.Last_Monitor_Training}}>
                    </div>
                    <div class='col-4 BWcolumn'>
                        <input id='bwLastMonitorTraining' type="date" class='form-control form-control-md datepick'  style="margin-left:20px" name='BWmonitorTrainingDate'value={{member.Last_Monitor_Training_Shop_2}}>
                    </div>
                </div>

                <div class = 'row'>
                    <div class='col-4'></div>
                    <div class='col-4 RAcolumn'>
                        <div id='RAtrainingNeeded'>{{RAtrainingNeeded}}</div>
                    </div>
                    <div class='col-4 BWcolumn'> 
                        <span id='BWtrainingNeeded'>{{BWtrainingNeeded}}</span>    
                    </div>
                </div> 
            </div>

            <div class='certBottomPanel'>
                <hr>
                <div class="row">
                    <div class='col-12'>
                        <label class="control-label col-form-label-md">Default type of work</label>
                        <input id=typeOfWorkTextID type="hidden" class="form-control-md" name="typeOfWorkHidden" value={{member.Default_Type_Of_Work}}>
                        <select id="typeOfWorkSelecterID" class="form-control-md selectTypeOfWork" style=margin-left:10px name="typeOfWorkSelecterName" >
                            <option value='General'>General</option>
                            <option value='Administrative'>Administration</option>
                            <option value='Carver'>Carver</option>
                            <option value='Education'>Education</option>
                            <option value='Repair'>Repair</option>
                            <option value='Special Project'>Special Project</option>
                            <option value='Stained Glass'>Stained Glass</option>
                            <option value='Toy Building'>Toy Building</option>
                            <option value='Turner'>Turner</option>
                            <option value='Painting'>Painting</option>
                        </select>
                    
                        <label class="control-label col-form-label-md" style=margin-left:20px>Skill level</label>
                        <input id="skillLevelTextID" type="hidden" class="form-control-md" name="skillLevelHidden" value={{member.Skill_Level}}>
                        <select id="skillLevelSelecterID" class="form-control-md" style=margin-left:10px name="skillLevelSelecterName"  >
                                <option value='0'>None</option>
                                <option value='1'>Basic</option>
                                <option value='3'>Some</option>
                                <option value='5'>Tradesman</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label class="control-label col-md-5 col-form-label-md" style=margin-left:0px">Monitor Exemption</label>
                    <textarea name="waiverReason" class="col-md-6" style=margin-left:10px id="waiverReason" cols="30" rows="2">{{member.Monitor_Duty_Waiver_Reason}}</textarea>
                </div>

                <div class="row">
                    <label class="control-label col-md-5 col-form-label-md">Exemption Expiration</label>
                    <input type="date" class="form-control form-control-md datepick" style="margin-left:10px" name="waiverExpirationDate" value="{{member.Monitor_Duty_Waiver_Expiration_Date}}"> 
                </div>
                
                <div class="cancelSave" style=padding-left:100px>
                    <input type="hidden" class='staffID' name='staffID'>
                    <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                    <button id="certificationCancelBtn" type="submit" name="certificationAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>  
                    <button id="certificationSaveBtn" type="submit" name="certificationAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>
                </div> 
            </div>   
        </form>
    </div>

    <!-- MONITOR DUTY -->
    <div id="monitorDutyID" class="monitorDutyInfo panel">
        <h5>MONITOR DUTY</h5>
        <form method='POST'  action="/saveMonitorDuty" style="padding-left:0px;padding-top:10px">
            <div class="monthNames" style="margin:0; padding:0;">
                <ul>
                    <li>Jan</li>
                    <li>Feb</li>
                    <li>Mar</li>
                    <li>Apr</li>
                    <li>May</li>
                    <li>Jun</li>
                    <li>Jul</li>
                    <li>Aug</li>
                    <li>Sep</li>
                    <li>Oct</li>
                    <li>Nov</li>
                    <li>Dec</li>
                </ul>
            </div>
            
            <div id = "monthCheckboxesID" class="monthCheckboxes" style="margin:0; padding:0">
                <ul>
                    <li>
                        <input type="checkbox" id='jan' style=margin-left:5px name='janResident' {% if member.Jan_resident %} checked {% endif %} value='janResidentValue'>
                        <input type="hidden" id='janResidentValue' name='jan' value="{{ member.Jan_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='feb' name='febResident' {% if member.Feb_resident %} checked {% endif %}>
                        <input type="hidden" id='febResidentValue' name='feb' value="{{ member.Feb_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='mar' name='marResident' {% if member.Mar_resident %} checked {% endif %} value='marResidentValue'>
                        <input type="hidden" id='marResidentValue' name='mar' value="{{ member.Mar_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='apr' name='aprResident' {% if member.Apr_resident %} checked {% endif %} value='aprResidentValue'>
                        <input type="hidden" id='aprResidentValue' name='apr' value="{{ member.Apr_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='may' name='mayResident' {% if member.May_resident %} checked {% endif %} value='mayResidentValue'>
                        <input type="hidden" id='mayResidentValue' name='may' value="{{ member.May_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='jun' style=margin-left:4px name='junResident' {% if member.Jun_resident %} checked {% endif %} value='junResidentValue'>
                        <input type="hidden" id='junResidentValue' name='jun' value="{{ member.Jun_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='jul' name='julResident' {% if member.Jul_resident %} checked {% endif %} value='julResidentValue'>
                        <input type="hidden" id='julResidentValue' name='jul' value="{{ member.Jul_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='aug' name='augResident' {% if member.Aug_resident %} checked {% endif %} value='augResidentValue'>
                        <input type="hidden" id='augResidentValue' name='aug' value="{{ member.Aug_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='sep' name='sepResident' {% if member.Sep_resident %} checked {% endif %} value='sepResidentValue'>
                        <input type="hidden" id='sepResidentValue' name='sep' value="{{ member.Sep_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='oct' name='octResident' {% if member.Oct_resident %} checked {% endif %} value='octResidentValue'>
                        <input type="hidden" id='octResidentValue' name='oct' value="{{ member.Oct_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='nov' name='novResident' {% if member.Nov_resident %} checked {% endif %} value='novResidentValue'>
                        <input type="hidden" id='novResidentValue' name='nov' value="{{ member.Nov_resident }}">
                    </li>
                    <li>
                        <input type="checkbox" id='dec' name='decResident' {% if member.Dec_resident %} checked {% endif %} value='decResidentValue'>
                        <input type="hidden" id='decResidentValue' name='dec' value="{{ member.Dec_resident }}">
                    </li>
                </ul>
            </div>

            <!-- FUTURE MONITOR DUTY -->
            <div class='monitorDuty'>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Shift</th>
                            <th>Duty</th>
                            <th>NS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class='futureDuty'>
                            {% for f in futureDuty %}
                                <tr class='futureDuty'>
                                    <td>{{ f.Shop_Abbr }}</td>
                                    <td>{{ f.DateScheduled }}</td>
                                    <td>{{ f.AM_PM }}</td>
                                    <td>{{ f.Duty }}</td>
                                    <td>{{ f.NoShow }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                        <div class='pastDuty'>
                            {% for p in pastDuty %}
                                <tr class='pastDuty'>
                                    <td>{{ p.Shop_Abbr }}</td>
                                    <td>{{ p.DateScheduled }}</td>
                                    <td>{{ p.AM_PM }}</td>
                                    <td>{{ p.Duty }}</td>
                                    <td>{{ p.NoShow }}</td>
                                </tr>
                            {% endfor %}   
                        </div>
                    </tbody>
                </table>
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="monitorDutyCancelBtn" type="submit" name="monitorAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="monitorDutySaveBtn" type="submit" name="monitorAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>
            </div> 
        </form>
    </div>      
    </div> <!-- END OF DETAIL SECTION -->
</div>

<!-- MODAL FORM FOR NOTE TO MEMBER (BOOTSTRAP) -->
<div id="noteModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Note to {{hdgName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Message:</span><br>
                <textarea id="msgID" style=font-size:14px rows="10"" cols="90" ></textarea>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                        <input id='showAtCheckIn' type="checkbox" checked value="checkIn">  Show at check-in<br>
                        <input id='sendEmail' type="checkbox" value="email" style=margin-bottom:40px>  Send email<br><br>
                    </div> 
                    <div class='footer-right-col'> 
                        <button id='cancelNoteID' type='button' class='btn btn-primary'style=margin-bottom:50px>Cancel</button>
                        <button id='processMsgID' type="button" class="btn btn-primary"style=margin-bottom:50px>Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/member.js') }}"> </script>
{% endblock %}
