{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newMember.css') }}">
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">   

{% block content %}
<form class='newMemberForm' method='POST' action="/newMemberApplication">
    <div class="parent">
        <div class="hdg">
            <div class="hdgTitle">
                <h2>NEW MEMBER APPLICATION</h2>
            </div>
        </div>

           
        <div class="demographic">
            <div class="form-group-md">
                <label for=memberID class='col-md-4 form-label-md'>Village ID</label>
                <input id='memberID' type="text" class="form-control-md" style="width:60px" name="memberID">
                <label for=expireDate class="col-md-3 form-label-md" >Expiration date</label>
                <input type="date" datepicker class="form-control-md" name='expireDate'>
            </div>
            
            
            <br>    
            <div class='form-group-md'>
                <label for="firstName" class="col-md-4 form-label-md">Name</label>
                <input id="firstName"type='text' class='form-control-md' name='firstName' placeholder="First name">
            </div>
            <div class='form-group-md'>
                <label for="middleName" class="col-md-4 form-label-md"></label>
                <input id="middleName"type='text' class='form-control-md' name='middleName' placeholder="Middle name">
            </div>
            <div class='form-group-md'>
                <label for="lastName" class="col-md-4 form-label-md"></label>
                <input id="lastName"type='text' class='form-control-md' name='lastName' placeholder="Last name">
            </div>
            <div class='form-group-md'>
                <label for="nickname" class="col-md-4 form-label-md"></label>
                <input id="nickname"type='text' class='form-control-md' name='nickname' placeholder="Nickname">
            </div>
            <br>
            <div class='address'>
                <div class='form-group-md'>
                    <label for="street" class="col-md-4 form-label-md">Address</label>
                    <input id="street"type='text' class='form-control-md' name='street' placeholder="Street">
                </div>
                <div class='form-group-md'>
                    <label for="city" class="col-md-4 form-label-md"></label>
                    <input id="city"type='text' class='form-control-md' name='city' placeholder="City">
                    <input id="state"type='text' class='form-control-md' style=width:25px name='state' value='FL'>
                    <input id="zip"type='text' class='form-control-md' style=width:95px name='zip' placeholder="Zip">
                </div>
            </div>
            <hr>   
            <div class='phones'>
                <div class='form-group-md'>
                    <label for="cellPhone" class="col-md-4 form-label-md">Cell phone</label>
                    <input id="cellPhone"type='text' class='form-control-md' name='cellPhone' >
                </div>
                <div class='form-group-md'>
                    <label for="homePhone" class="col-md-4 form-label-md">Home phone</label>
                    <input id="homePhone"type='text' class='form-control-md' name='homePhone' >
                </div>
            </div> 
            <div class='email'>
                <div class='form-group-md'>
                    <label for="eMail" class="col-md-4 form-label-md">Email</label>
                    <input id="eMail"type='email' class='form-control-md' name='eMail' >
                </div>   
            </div>
        </div> <!-- END OF demographic-->
        
        <div class='column2'>
            <div class='form-group-md' style=margin-top:20px>
                <label for="dateJoined" class="col-md-5 form-label-md">Date joined</label>
                <input id="dateJoined"type='date' datepicker class='dateJoined form-control-md' name='dateJoined'>
            </div>  

            <div class='form-group-md'>
                <label for="typeOfWork" class="col-md-5 form-label-md">Default type of work</label>
                <select id="typeOfWorkSelecterID" class="form-control-md selectTypeOfWork" style=margin-left:0px name="typeOfWorkSelected" >
                    <option value='General' selected>General</option>
                    <option value='Administrative'>Administration</option>
                    <option value='Carver'>Carver</option>
                    <option value='Education'>Education</option>
                    <option value='Repair'>Repair</option>
                    <option value='Special Project'>Special Project</option>
                    <option value='Stained Glass'>Stained Glass</option>
                    <option value='Toy Building'>Toy Building</option>
                    <option value='Turner'>Turner</option>
                    <option value='Painting'>Painting</option>
                </select>
            </div> 

            <div class='form-group-md'>
                <label for="skillLevel" class="col-md-5 form-label-md">Skill level</label>
                <select id="skillLevelSelecterID" class="form-control-md" style=margin-left:0px name="skillLevelSelected"  >
                    <option value='0' selected >None</option>
                    <option value='1'>Basic</option>
                    <option value='3'>Some</option>
                    <option value='5'>Tradesman</option>
                </select>
            </div> 

            <br>
            <br>

            <div class='form-group-md'>
                <label class='col-md-3'></label>
                <label class='col-md-3 form-label-md' style=text-align:left;margin-left:120px>Rolling Acres ({{RAavailableDates}})</label>
                <label class='col-md-3 form-label-md' style=text-align:left;margin-left:0px>Brownwood ({{BWavailableDates}})</label>
            </div>
            
            <div class='form-group-md'>
                <label class="col-md-5 form-label-md">Certification Training Date</label>
                <select name="crtDtRA" id="crtDtRA" class='form-control-md'style=width:120px name='certDtRA'>
                    <option class="optName" value="">Select one -</option>
                    {% for dt in RAclassArray %}
                        <option  class="optName" value='{{dt}}'>{{ dt }}</option>
                    {% endfor %}
                </select>
                <select name="crtDtBW" id="crtDtBW" class='form-control-md' style=width:120px;margin-left:80px ='certDtBW'>
                    <option class="optName" value="">Select one -</option>
                    {% for dt in BWclassArray %}
                        <option  class="optName" value='{{dt}}'>{{ dt }}</option>
                    {% endfor %}
                </select>
            </div> 
            <br><br>
            
            <div class='form-group-md'>
                <label for="membershipType" class="col-md-5 form-label-md">Membership</label>
                <select id="membershipType" class="form-control-md" style=margin-left:0px name="membershipType"  >
                    <option value='' selected >Select one -</option>
                    <option value='single' selected >Regular membership ({{singleInitiationFeeCUR}})</option>
                    <option value='family'>2nd membership ({{familyInitiationFeeCUR}})</option>
                </select>
                <input id='initiationFee' type="hidden" value={{initiationFee}}>
                <input id='annualFee' type="hidden" value={{annualFee}}>
            </div> 
            <hr>
            <div class='form-group-md'>
                <label for="initiationFee" class='col-md-5 form-label-md'>Initiation fee</label>
                <input id='initiationFee' readonly type="text" class='form-control-md 'style=width:120px name='initiationFee' value = {{initiationFee}}>
            </div>
            <div class='form-group-md'>
                <label for="annualDues" class='col-md-5 form-label-md'>Annual dues</label>
                <input id='annualDues' readonly type="text" class='form-control-md' style=width:120px name='annualDues' value = {{annualFee}}>
            </div>
            <div class='form-group-md'>
                <label for="totalAmt" class='col-md-5 form-label-md'>Total amount</label>
                <input id='totalAmt' readonly type="text" class='form-control-md' style=width:120pxname='totalAmt' value = ''>
            </div>

        </div>

        <div class='footerBtns'>
            <div class="cancelSave" >
                <label class='col-5'></label>
                <button id="cancelBtn" type="submit" name="newMember" class="btn-default" value="CANCEL">CANCEL</button>
                <button id="saveBtn" type="submit" name="newMember" class="btn-primary"  value="SAVE">SAVE</button>  
                <label class='col-4'></label>
            </div>
        </div>
        
    
    </div> <!-- END OF PARENT -->
</form> <!-- END OF FORM -->
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/newMember.js') }}"> </script>
{% endblock %}
        