<!-- roles.html -->
{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roles.css') }}">
{% endblock %}

{% block app_content %}

<div class="container">
    <div class="roleHeader">
            <h4 >Roles for {{member.fullName}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <input type="hidden" name='memberID' value = {{member.Member_ID}}>
    </div>
    
    <form method='POST' action="/saveRoles">   
    <div id='roleBodyID' class="roleBody">
        <div class="row">&nbsp</div>
        <div class='row form-group'>
            <div class="col-5" style=margin-top:20px>
                <input id='askMe' type="checkbox" class="form-check-input" name="askMe"   {% if member.isAskMe %} checked {% endif %}value="{{member.isAskMe}}">
                <label for="askMe" class="form-check-label"> Ask Me</label>    
            </div>
            <div class="col-5" style=margin-top:20px>
                <input id='mentor' type="checkbox" class="form-check-input" name="mentor"   {% if member.Mentor %} checked {% endif %}value="{{member.Mentor}}">
                <label for="mentor" class="form-check-label"> Mentor</label>    
            </div>
        </div>
         
        <div class='row form-group'>
            <div class='col-5'>
                <input id='bod' type="checkbox" class="form-check-input" name="bod"   {% if member.isBODmember %} checked {% endif %}value="{{member.isBODmember}}">
                <label for="bod" class="form-check-label"> Board of Directors</label>    
            </div>
            <div class='col-5'>
                <input id='mdse' type="checkbox" class="form-check-input" name="mdse"   {% if member.canSellMdse %} checked {% endif %}value="{{member.canSellMdse}}">
                <label for="mdse" class="form-check-label"> Merchandise</label>    
            </div>  
            
        </div>

        <div class="row form-group">
            <div class="col-5">
                <input id='certification' type="checkbox" class="form-check-input" name="certification"   {% if member.Certification %} checked {% endif %}value="{{member.Certification}}">
                <label for="certification" class="form-check-label"> Certification</label>    
            </div>
            <div class="col-5">
                <input id='staff' type="checkbox" class="form-check-input" name="staff"   {% if member.Office_Staff %} checked {% endif %}value="{{member.Office_Staff}}">
                <label for="staff" class="form-check-label"> Office Staff</label>    
            </div>
        </div>

        <div class="row form-group">
            <div class="col-5">
                <input id='DBA' type="checkbox" class="form-check-input" name="DBA"   {% if member.DBA %} checked {% endif %}value="{{member.DBA}}">
                <label for="DBA" class="form-check-label"> DBA</label>    
            </div>
            <div class="col-6">
                <input id='monitorCoordinator' type="checkbox" class="form-check-input" name="monitorCoordinator"   {% if member.Monitor_Coordinator %} checked {% endif %}value="{{member.Monitor_Coordinator}}">
                <label for="monitorCoordinator" class="form-check-label"> Monitor Coordinator</label>    
            </div>
        </div>

        <div class="row form-group">
            <div class="col-5">
                <input id='instructor' type="checkbox" class="form-check-input" name="instructor"   {% if member.Instructor %} checked {% endif %}value="{{member.Instructor}}">
                <label for="instructor" class="form-check-label"> instructor</label>    
            </div>
            <div class='col-5'>
                <input id='president' type="checkbox" class="form-check-input" name="president"   {% if member.isPresident %} checked {% endif %}value="{{member.isPresident}}">
                <label for="president" class="form-check-label"> President</label>    
            </div> 
        </div>
        
        <div class="row form-group">
            <div class="col-5">
                <input id='lumber' type="checkbox" class="form-check-input" name="lumber"   {% if member.canSellLumber %} checked {% endif %}value="{{member.canSellLumber}}">
                <label for="lumber" class="form-check-label"> Lumber</label>    
            </div>
            <div class='col-5'>
                <input id='safety' type="checkbox" class="form-check-input" name="safety"   {% if member.isSafety_Committee %} checked {% endif %}value="{{member.isSafety_Committee}}">
                <label for="safety" class="form-check-label"> Safety Committee</label>    
            </div>
        </div> 

        <div class='row form-group'>
            <div class='col-5'>
                <input id='maintenance' type="checkbox" class="form-check-input" name="maintenance"   {% if member.Maintenance %} checked {% endif %}value="{{member.Maintenance}}">
                <label for="maintenance" class="form-check-label"> Maintenance</label>    
            </div> 
            <div class='col-5'>
                <input id='specproj' type="checkbox" class="form-check-input" name="specproj"   {% if member.isSpecial_Projects %} checked {% endif %}value="{{member.isSpecial_Projects}}">
                <label for="specproj" class="form-check-label"> Special Projects</label>    
            </div>
        </div> 

        <div class='row form-group'>
            <div class='col-5'>
                <input id='mgr' type="checkbox" class="form-check-input" name="mgr"   {% if member.Manager %} checked {% endif %}value="{{member.Manager}}">
                <label for="mgr" class="form-check-label"> Manager</label>    
            </div>
            <div class='col-5'>
                <input id='vp' type="checkbox" class="form-check-input" name="vp"   {% if member.isVP %} checked {% endif %}value="{{member.isVP}}">
                <label for="vp" class="form-check-label"> VP</label>    
            </div> 
        </div>
        <br>
    </div> <!-- END OF BODY -->   

    <div class="roleFooter">
        <div class='footer-right-col'> 
            <button id='roleCancelBtnID' type='button' class='btn btn-secondary'style=margin-top:10px;margin-bottom:10px>Cancel</button>
            <button id='roleSaveBtnID' type="button" class="btn btn-primary"style=margin:10px;display:None>Save</button>
        </div>
    </div> <!-- END OF FOOTER -->
    </form>
</div>

{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/roles.js') }}"> </script>
{% endblock %}