<!-- rptMembersSchedule.html -->
{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptAppConfirm.css') }}">
{% endblock %}

{% block content %} 
<!-- Include Print CSS -->
<div class='wholePage' style=width:80%;justify-content:center;margin-left:100px>

    <div class="pageButtons">
        <button id="printPageButton" style=margin-right:20px; onClick="window.print();">PRINT</button>
        <button id="closePageButton" style=margin-right:20px; onclick="window.history.back()" >CLOSE PAGE</button>
    </div> 
    <br>
    <div class="reportHdg">
        <br>
        <h1 class="text-center">THE VILLAGE'S WOODSHOP</h1>
        <h2 class="text-center">Waiting List Confirmation</h2>
        <h3 class="text-center">As of {{ todays_date }}</h3>
    <hr>
    </div>

    <div class="rptBody">
        <div class="row">
            <div class="col">
                <h5 class="text-left">{{displayName}}</h5>
            </div>
            <div class="col" style=text-align:right;margin-right:20px>
                <label>Village ID: {{applicant.MemberID}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>{{applicant.StreetAddress}}</label>
            </div>
            <div class="col" style=text-align:right;margin-right:20px>
                <label>{% if applicant.VillageIDexpirationDate != None %}Expiration date: {{applicant.VillageIDexpirationDate}}{% endif %}</label>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <label>{{applicant.City}}, {{applicant.State}}  {{applicant.Zipcode}}</label>
            </div>       
        </div>

        <div class="row">
            <div class="col-6">
                <label>Email address:  {{applicant.Email}}</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <label>Home Phone:</label>
                <label strong>{{applicant.HomePhone}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Cell Phone:</label>
                <label strong>{{applicant.CellPhone}}</label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6" style=text-align:left;>
                <label>Date of application:&nbsp&nbsp<span>{{applicationDate}}</span></label>
            </div>
        </div>

        <div class='row'>
            <div class="col">
                <label>{% if applicant.Notes %}Notes:  {{applicant.Notes}}{% endif %}</label>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <h3> MONTHS IN THE VILLAGES</h3>
            </div>
        </div>
        <div class="row">
            <div class="col monthNames">
                <table>
                    <thead>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </thead>
                    <tbody>
                        <td>
                            <input type="checkbox" {% if applicant.Jan %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Feb %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Mar %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Apr %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.May %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Jun %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Jul %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Aug %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Sep %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Oct %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Nov %} checked {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" {% if applicant.Dec %} checked {% endif %}>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-12" style=margin-left:0px;margin-right:0px>
                {% include 'WaitListConfirmation.html' %}
            </div>
        </div>
    </div>  
</div>
{% endblock %}
