{% extends 'base.html' %}
{% block title %}WAIT LIST{% endblock title %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/waitList.css') }}">
   
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">   

{% block app_content %}

<!-- <div class="container"> -->
<form id=waitListFormID method='POST' action="/updateWaitList"> 
<div class="parent">

    <div class="hdgBand"> <!-- HEADING BAND -->
        <div class="row hdgRow">
            <div class="title">
                <h2>WAIT LIST</h2>
            </div>
            
            <div class="selectApplicant">
                <select id="selectpicker" class='selectpicker' title='Find an applicant ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                    {% for nme in applicantArray %}
                        <option  class="optName" value='{{nme}}'>{{ nme }}</option>
                    {% endfor %}
                </select>
            </div> 
            <div class="hdgLinks">
                <a id="linkToWaitList" style="display:none" href=""></a>
                <a id="linkToPrintConfirmation" style="display:none" href=""></a>
                <button class='btn btn-primary btn-sm' onclick="newApplicant()">Clear Screen</button>
                <button id='printConfirmBtnID' class='btn btn-info btn-sm' disabled onclick="printConfirmation()">Print Confirmation</button>
            </div> <!-- End of hdgLinks -->
            <div class="version">
                <h3>ver. Dec 7, 2020</h3> 
            </div>
        </div>
    </div> <!-- End of hdgBand -->

    
    
    
    <div id='applicantID' class='applicant'  style=margin-top:20px> <!-- APPLICANT -->
        <div class="row">
            <label class='col-2' >Village ID</label>
            <div class="col-2">
                <input id='memberID' type="text" maxlength=6 size=6 placeholder='Member ID' name="memberID" value="{{applicant.MemberID}}">
            </div>
            <div class="col-5">
                <label>Expiration date</label>
                <input id='expireDate' type="date" datepicker width=140px placeholder='Expiration date' name='expireDate' value="{{applicant.VillageIDExpirationDate}}">
            </div> 
        </div>  

        <br>
        <div class='row'>
            <div class="col-2">
                <label for="firstName">Name</label>
            </div>
            <div class="col-6">
                <input id="firstName" type='text' required name='firstName' placeholder="First name" value="{{applicant.FirstName}}">
            </div>
            
        </div>
        
        <div class='row'>
            <div class="offset-2 col-8">
                <input id="lastName"type='text' required name='lastName' placeholder="Last name" value="{{applicant.LastName}}"">
            </div>
        </div>
        <br>
        <div class='address'>
            <div class='row'>
                <div class="col-2">
                    <label for="street" >Address</label>
                </div>
                <div class="col-10">
                    <input id="street"type='text'name='street' size=35 placeholder="Street" value="{{applicant.StreetAddress}}">
                </div>    
            </div>
            <div class='row'>
                <div class="col-10 offset-2">
                    <input id="city" type='text' name='city' size=35 placeholder="City" value="{{applicant.City}}">
                </div>  
            </div>
            <div class='row'>
                <div class="col-10 offset-2">
                    <input id="state"type='text' style=min-width:25px name='state' size=2 placeholder="FL" value="{{applicant.State}}">
                    <input id="zip"type='text'  style=width:95px name='zip' placeholder="Zip" value="{{applicant.Zipcode}}"> 
            </div>
        </div>
        <hr>

        <div class='phones'>
            <div class='row'>
                <div class="col-3">
                    <label for="cellPhone" >Cell phone</label>
                </div>
                <div class="col-8">
                    <input id="phoneNumber"
                        class="cellPhone"
                        type='tel'
                        maxlength="14"
                        placeholder="(xxx) xxx-xxxx"
                        name='cellPhone' 
                        style=width:120px 
                        value="{{applicant.CellPhone}}" >
                </div>
                
            </div>
            <div class='row'>
                <div class="col-3">
                    <label for="homePhone">Home phone</label>
                </div>
                <div class='col-8'>
                    <input id="homePhone"
                    type='tel' 
                    name='homePhone' 
                    style=width:120px 
                    placeholder="(xxx) xxx-xxxx" value="{{applicant.HomePhone}}" ></div>
                </div>
            </div> 
        </div> <!-- END OF PHONES -->

        <div class='email'>
            <div class='row'>
                <div class="col-3">
                    <label for="eMail">Email</label>
                </div>
                <div class="col-8">
                    <input id="eMail"type='email' size=30 required name='eMail' value="{{applicant.Email}}">
                </div>
            </div>   
        </div> <!-- END OF EMAIL -->

        <br>
        <div class="monthsInTheVillages">
            <h3>---- MONTHS IN THE VILLAGES ----</h3>
            <!--  MONTHS IN THE VILLAGES --> 
            <div class='row'> 
                <div class="monthNames">
                    <ul>
                        <li>Jan</li>
                        <li>Feb</li>
                        <li>Mar</li>
                        <li>Apr</li>
                        <li>May</li>
                        <li>Jun</li>
                        <li>Jul</li>
                        <li>Aug</li>
                        <li>Sep</li>
                        <li>Oct</li>
                        <li>Nov</li>
                        <li>Dec</li>
                    </ul>
                </div> <!-- End of month names-->
            </div> <!-- End of row declaration -->

            <div class='row'>
                <div id = "monthCheckboxesID" class="monthCheckboxes">
                    <ul>
                        <li>
                            <input type="checkbox" id='jan' name='jan' {% if applicant.Jan %} checked {% endif %} value='{{applicant.Jan}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='feb' name='feb' {% if applicant.Feb %} checked {% endif %} value='{{applicant.Feb}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='mar' name='mar' {% if applicant.Mar %} checked {% endif %} value='{{applicant.Mar}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='apr' name='apr' {% if applicant.Apr %} checked {% endif %} value='{{applicant.Apr}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='may' name='may' {% if applicant.May %} checked {% endif %} value='{{applicant.May}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='jun' style=margin-left:4px name='jun' {% if applicant.Jun %} checked {% endif %} value='{{applicant.Jun}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='jul' name='jul' {% if applicant.Jul %} checked {% endif %} value='{{applicant.Jul}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='aug' name='aug' {% if applicant.Aug %} checked {% endif %} value='{{applicant.Aug}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='sep' name='sep' {% if applicant.Sep %} checked {% endif %} value='{{applicant.Sep}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='oct' name='oct' {% if applicant.Oct %} checked {% endif %} value='{{applicant.Oct}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='nov' name='nov' {% if applicant.Nov %} checked {% endif %} value='{{applicant.Nov}}'>
                        </li>
                        <li>
                            <input type="checkbox" id='dec' name='dec' {% if applicant.Dec %} checked {% endif %} value='{{applicant.Dec}}'>
                        </li>
                    </ul>
                </div> <!-- End of month check boxes --> 
            </div> <!-- End of row declaration -->
        </div> <!-- End of months in the villages -->
    </div>  <!-- End of APPLICANT section -->
   
    
    <div id='applicationStatusID' class='applicationStatus'>  <!-- STATUS OF APPLICATION -->
        <div class='row'>
            <label for="notes" class="col-2">Notes</label>
            <textarea id="notes" class='col-7' rows="3" cols="30" name='notes'  value="{{applicant.Notes}}">{{applicant.Notes}}</textarea>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 placeOnWaitList">
                <div>Place on waiting list - #&nbsp  {{ placeOnList }}</div>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col">
                <label for='dtEntered' class="statusLabel col-4" >Date Added</label>
                <input id='dtEntered' type="date"  width=140px name='entered' readonly value="{{applicant.DateTimeEntered}}">    
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for='notified' class="statusLabel col-4" >Notified</label>
                <input id='notified' type="date" datepicker  width=140px name='notified' value="{{applicant.Notified}}">    
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <label for='applicantAccepts' class="statusLabel col-4" >Applicant Accepts</label>
                <input id='applicantAccepts' type="date" datepicker  width=140px name='applicantAccepts' value={{applicant.ApplicantAccepts}}>    
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for='applicantDeclines' class="statusLabel col-4" >Applicant Declined</label>
                <input id='applicantDeclines' type="date" datepicker  width=140px name='applicantDeclines' value="{{applicant.ApplicantDeclines}}">    
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for='noLongerInterested' class="statusLabel col-4" >No Longer Interested</label>
                <input id='noLongerInterested' type="date" datepicker width=140px name='noLongerInterested' value="{{applicant.NoLongerInterested}}">    
            </div>
        </div>
        <hr>
        <div class="row" style=margin-top:40px;>
            <div class="col">
                <label for='approvedToJoin' class="statusLabel col-4" >Approved To Join</label>
                <input id='approvedToJoin' type="date" datepicker width=140px  name='approvedToJoin' value="{{applicant.ApprovedToJoin}}">    
            </div>
        </div>

        <div class="row">
            <div class="col" style=margin-bottom:20px>
                <label for='plannedCertificationDate' class="statusLabel col-4" >Planned Certification</label>
                <input id='plannedCertificationDate' type="date" datepicker width=140px name='plannedCertificationDate' value="{{applicant.PlannedCertificationDate}}">    
            </div>
        </div>
    </div>   <!-- END OF STATUS OF APPLICATION STATUS -->

    <div class='footerBtns'>
        <div class="cancelSave" >
            <label class='col'></label>
            <input type="hidden" id='waitListStaffID' name='staffID'>
            <button id="cancelBtn" type="submit" formnovalidate name="waitList" class="btn btn-secondary"  value="CANCEL">CANCEL</button>
            <button id="saveBtn" type="submit" name="waitList" class="btn btn-primary"  value="UPDATE WAITLIST">SAVE</button>  
        </div>
    </div> <!-- End of footerBtns-->
    
     
</div> <!-- end of parent-->
</form> <!-- END OF FORM -->  
 
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/waitList.js') }}"> </script>
    <!-- <script type="text/javascript">
        $(document).ready(function(){
        $('.selectpicker').selectpicker('refresh');
       });
    </script> -->
{% endblock %}
        