{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{super()}}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/newMember.css') }}"> -->
{% endblock %}


{% block content %}
    <div class="parent">
        <div class="hdg">
            <div class="hdgTitle">
                <h2>NEW MEMBER APPLICATION</h2>
            </div>
            <div class='formwrapper'>
                <form method='POST' action="/newMemberApplication">
                    <div>
                        {{ wtf.form_field(form.firstName)}}
                    </div>
                    <div class='form-field'>{{ form.memberID.label }} {{ form.memberID }}
                        {% if form.memberID.errors %}
                            <ul class='errors'>
                                {% for error in form.memberID.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class='form-field'>{{ form.firstName.label }} {{ form.firstName }}
                        {% if form.firstName.errors %}
                            <ul class='errors'>
                                {% for error in form.firstName.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                
                    <div class='form-field'>{{ form.middleName.label }} {{ form.middleName }}
                        {% if form.middleName.errors %}
                            <ul class='errors'>
                                {% for error in form.middleName.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class='form-field'>{{ form.lastName.label }} {{ form.lastName }}
                        {% if form.lastName.errors %}
                            <ul class='errors'>
                                {% for error in form.lastName.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                
                
                    {{ form.submit }}       
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <!-- <script src="{{ url_for('static', filename='js/newMember.js') }}"> </script> -->
{% endblock %}
        